# LAMMPS script
#
# This script simulates...
#
# @Date    : ${date}
# @Author  : ${author}

# initialization

# geometry definition

# atom definition

# settings

# relaxation

# simulation

# more simulation
